<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright © 2023 Rabari Ltd. All rights reserved.
  ~ License:    https://www.rabari.com/license-agreement
  ~
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    
    <preference for="Magento\Framework\App\Config\Value" type="Rabari\Backend\Model\System\Config\Backend\SaveConfig"/>
    
</config>